body {
    padding: 0;
    margin: 0;
    font-family: 'Roboto Condensed', sans-serif;
    background-color: #66c2e1;
}
form {
    text-align: center;
    border: 2px solid;
    margin: 100px auto;
    width: 500px;
    border-radius: 10px;
}
label, input {
    margin-bottom: 10px;
}
.email {
    margin-bottom: 20px;
}
input[type=submit] {
    width: 400px;
    margin-bottom: 40px;
}